head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='google' value='notranslate')

	meta(name='theme-color' content='#ffffff')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	link(sizes='32x32'   href='/32x32.png'   rel='icon' type='image/png')
	link(sizes='57x57'   href='/57x57.png'   rel='icon' type='image/png')
	link(sizes='76x76'   href='/76x76.png'   rel='icon' type='image/png')
	link(sizes='96x96'   href='/96x96.png'   rel='icon' type='image/png')
	link(sizes='120x120' href='/120x120.png' rel='icon' type='image/png')
	link(sizes='120x120' href='/120x120.png' rel='icon' type='image/png')
	link(sizes='152x152' href='/152x152.png' rel='icon' type='image/png')
	link(sizes='152x152' href='/152x152.png' rel='icon' type='image/png')
	link(sizes='167x167' href='/167x167.png' rel='icon' type='image/png')
	link(sizes='167x167' href='/167x167.png' rel='icon' type='image/png')
	link(sizes='180x180' href='/180x180.png' rel='icon' type='image/png')
	link(sizes='180x180' href='/180x180.png' rel='icon' type='image/png')
	link(sizes='195x195' href='/195x195.png' rel='icon' type='image/png')
	link(sizes='195x195' href='/195x195.png' rel='icon' type='image/png')
	link(sizes='195x196' href='/195x196.png' rel='icon' type='image/png')
	link(sizes='195x196' href='/195x196.png' rel='icon' type='image/png')
	link(sizes='228x228' href='/228x228.png' rel='icon' type='image/png')

	link(rel='manifest' href='/manifest.json')

	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-tap-highlight' content='no')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')

	link(href='/assets/styles/app.min.css' rel='stylesheet')
